body{
    text-align: center;
    background-color:#e4e4e7;
    font-family: "Chakra Petch", sans-serif;
    font-weight: 600;
    font-style: normal;
}

#title{
    font-size: xx-large ;
    color: #065f46;
   
}
#state{
    color: #065f46;
}

.container{
    display: flex;
    justify-content: center;
}
.btn{
    height: 200px;
    width: 200px;
    border: 3px solid black;
    border-radius: 50%;
    margin: 1rem;
}
.red
{
  background-color: #d95980;
}
.yellow
{ 
    background-color: #63aac0 ;
}
.green
{
   
   
    background-color: #f99b45;
}
.purple
{
    background-color: purple;
}
.flash{
    background-color: white;
}
.userFlash{
    background-color: greenyellow;
}